/*
* Author: Jaime Zaragoza 
*/

h1 {
	text-align: center;
	font-family: sans-serif;
}

.mainMenu {
	background: gray;
}

.mainTable {
	width: 95%;
	margin: 0px auto;
}

td {
	width: 33.33%;
	text-align: center;
	font-family: fantasy;
}